---
layout: default
title: Michael Auli
picture: headshot_2017
news:
  -
    >
      Here are the slides for my <a href="talks/efficient-seq-modeling.pdf">WNGT talk</a> on efficient sequence modeling.
  -
    >
      All of our submissions to WMT'19 were ranked top in the human evaluation. Read our <a href="https://arxiv.org/abs/1907.06616">systems paper</a>, the <a href="https://ai.facebook.com/blog/facebook-leads-wmt-translation-competition/">blog post</a> and <a href="https://github.com/pytorch/fairseq/tree/master/examples/wmt19">download</a> the models.
  -
    >
      Our paper on <a href="https://arxiv.org/abs/1904.05862">wav2vec</a> shows that self-supervised learning can improve actual speech recognition. Also read the <a href="https://ai.facebook.com/blog/wav2vec-state-of-the-art-speech-recognition-through-self-supervision/">blog post</a>.
  -
    >
      We released a new dataset on long form question answering, read the <a href="https://arxiv.org/abs/1907.09190">paper</a>, the <a href="https://ai.facebook.com/blog/longform-qa/">blog post</a> and <a href="https://github.com/facebookresearch/ELI5">download</a> the dataset.
---
<div class="page-header">
  <div class="row">
    <div class="col-sm-12">
      <h3>Michael Auli</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <address>
        Research Scientist<br/>
        <a href="http://research.facebook.com/ai">Facebook AI Research</a><br/>
        Menlo Park, CA<br/>
        <span class="glyphicon glyphicon-envelope"/> f1rst.last@gmail.com<br/>
        <a href="https://scholar.google.com/citations?user=KMcwQtcAAAAJ&hl=en" style="text-decoration:none;"><img src="img/ico/gs.png" height="15" style="vertical-align:middle;" border="0">&nbsp; Google Scholar</a><br/>
        <a href="http://www.linkedin.com/in/michaelauli" style="text-decoration:none;"><img src="img/ico/linkedin.png" width="20" height="15" alt="LinkedIn" style="vertical-align:middle;" border="0">&nbsp;LinkedIn profile</a>
      </address>
    </div>
  </div>
</div>

<p>
  I am a Research Scientist at
  <a href="http://research.facebook.com/ai">Facebook AI Research</a> in Menlo Park, CA and I work on machine learning and natural language processing.
  I earned my Ph.D. at the University of Edinburgh for my work on syntactic
  parsing with approximate inference.
</p>

<h4>News</h4>
<ul>
{% for item in page.news %}
  <li>{{ item }}</li>
{% endfor %}
</ul>
</br>

<h4>Papers</h4>
{% for post in site.papers %}
  {% if post.selected %}
    {% include paper.html paper=post %}
  {% endif %}
{% endfor %}

</br>
<h4>Talks</h4>
{% for talk in site.talks %}
<div class="media">
  <a class="pull-left thumbnail" {%if talk.url %} href="{{ talk.url }}" {% endif %}>
    <img class="media-object" src="img/talk/{{ talk.img }}" alt="">
  </a>
  <div class="media-body">
    <strong>{{ talk.title }}</strong><br/>
    {{ talk.detail }}
    {% if talk.video %}<br/>
      <a href="{{ talk.video }}"><span class="glyphicon glyphicon-film"></span></a> Video
    {% endif %}
  </div>
</div>
{% endfor %}
